._wp_headless_menu_editor {
    width: 100%;
    min-width: $min-width;
    height: 100%;
    min-height: 100%;
    padding: 1rem 1rem 1rem 0;
    box-sizing: border-box;

    h4,h5 {
        text-transform: uppercase;
    }

    .link {
        text-decoration: underline;
        cursor: pointer;

        &.danger {
            color: $color-gray;
            &:hover {
                color: $color-red-hover;
            }
        }
    }
}
