._headless_dashboard_menu_editor {

    .posts-list {
        min-height: 200px;

        .menu-item {
            margin-bottom: 0.375rem;

            .menu-item-segment {

                .menu-item-segment-content {

                    .menu-item-bar {
                        min-width: 180px;
                    }
                }

            }


        }

    }

}